name: Milestones

on:
  workflow_dispatch:

# clare all permissions for GITHUB_TOKEN
permissions: {}

jobs:
  dump-github-context:
    name: Dump GitHub Context
    runs-on: ubuntu-latest
    if: github.run_attempt > 1

    steps:
      - run: echo "ok"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        shell: bash

  detect-version:
    name: Detect version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: 'false'

      - id: has-pom
        run: |
          if [ -f pom.xml ]; then
            echo "status=true" >> $GITHUB_OUTPUT
          fi
          cat $GITHUB_OUTPUT

      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        if: steps.has-pom.outputs.status == 'true'
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'

      - id: version
        if: steps.has-pom.outputs.status == 'true'
        run: |
          mvn --batch-mode --non-recursive help:evaluate -Dexpression=project.version -Doutput=target/version.txt
          V=$(cat target/version.txt)
          echo "version=${V%-SNAPSHOT}" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT



  current-milestone:
    needs: detect-version
    if: needs.detect-version.outputs.version != ''
    runs-on: ubuntu-latest
    permissions:
      # write permission is required to manage milestones
      contents: write

    steps:
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        env:
          CURRENT_VERSION: ${{ needs.detect-version.outputs.version }}
        with:
          script: |
            const branch = context.ref.replace('refs/heads/', '');
            const version = process.env.CURRENT_VERSION;
            
            console.log('branch: ' + branch);
            console.log('version: ' + version);
            
            const milestones = await github.rest.issues.listMilestones({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open'
            });
            
            console.log('All open milestones: ');
            console.log(milestones.data);
            
            var milestone;
            if (milestones.data.length > 1) {
              milestone = milestones.data.find(({description}) => description?.includes('branch: ' + branch));
            } else {
              milestone = milestones.data[0];
            }
            
            console.log('Current milestone: ');
            console.log(milestone);
            
            core.summary.addHeading('Milestone management');
            
            // in first step just create new milestone - closing the old one will be in the next step
            // if something fails here - we don't want to close the existing milestone
            const resultNew = await github.rest.issues.createMilestone({
                owner: context.repo.owner,
                repo: context.repo.repo,
                title: version,
                description: 'branch: ' + branch
            });
            
            console.log('Created new milestone: ');
            console.log(resultNew.data);
            
            core.summary.addRaw('New milestone: ');
            core.summary.addLink(resultNew.data.title, resultNew.data.html_url);
            core.summary.addBreak();
            
            // now close the existing milestone
            if (milestone) {
              const resultOld = await github.rest.issues.updateMilestone({
                owner: context.repo.owner,
                repo: context.repo.repo,
                milestone_number: milestone.number,
                state: 'closed'
              });
            
              console.log('Closed old milestone: ');
              console.log(resultOld.data);
            
              core.summary.addRaw('Closed milestone: ');
              core.summary.addLink(milestone.title, milestone.html_url);
              core.summary.addBreak();
            } else {
              console.log('No existing milestone to close');
              core.summary.addRaw('No existing milestone to close - plese verify');
              core.summary.addBreak();
            }
            
            core.summary.write();
