name: Release Drafter

on:
  push:
    branches:
      - 'master'
      - 'main'
  workflow_dispatch:

jobs:
  update_release_draft:
    name: Update Release Draft
    runs-on: ubuntu-latest

    steps:
      - uses: slawekjaranowski/release-drafter@commits-since
        with:
          initial-commits-since: '2026-01-15T00:00:00Z'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}